:host {
  display: block;
}

.app-toolbar {
  position: sticky;
  top: 0;
  z-index: 1000;
}

.app-title {
  cursor: pointer;
  font-weight: 500;
  font-size: 1.2rem;
}

.spacer {
  flex: 1 1 auto;
}

.nav-links {
  display: flex;
  align-items: center;
  gap: 4px;
}
